<h3>New Album</h3>
<br>
<form action="<%= albums_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="album[band_id]" value="<%= @band_id %>">
  <label for="title">Title:</label>
    <input id="title" type="text" name="album[title]" value="<%= @album.title %>">
    <br>
  <label for="year">Year:</label>
    <input id="year" type="text" name="album[year]" value="<%= @album.year %>">
    <br>
  <select name="album[type_of_album]">
    <option value="default" disabled selected>--select a type--</option>
    <option value="live">Live</option>
    <option value="studio">Studio</option>
  </select>
    <br>
    <input class="buttoncolor" type="submit" name="" value="Create Album">
</form>
