<!DOCTYPE html>
<html>
  <header>
    <img src="http://img.talkandroid.com/uploads/2014/03/samsung_milk_music_app_icon.png" alt="music app">
    <br>
    <h1>MUSIC APP</h1>
    <br>
  </header>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <a href="<%= new_user_url %>">Sign Up</a>
    <a href="<%= new_session_url %>">Sign In</a>
    <br>
    <%= yield %>
    <br>
    <% if logged_in? %>
      <form action="<%= session_url %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <input class="buttoncolor" type="submit" name="" value="Sign Out">
      </form>
    <% end %>
  </body>
</html>
